<div class="container text-center">
	<h1 >Welcome to Ramsey Search WebApp</h1>
</div>
</br></br>

<div id="left" class="text-center" onclick="notifread()"> 
	<div class="btn" type="button">
		<b>Updates</b> <span class="badge" id="notif"></span>
	</div>
</div>

<div class="container text-center center-block" id="right">
	<table class="table table-striped " id ="clients" >
		<thead>
			<tr>
				<th>Client ID</th>
				<th>Port</th>
				<!--
				<th>IP Address</th>
				<th>Cluster</th>
				<th>Algorithm Running</th>-->
			</tr>
		</thead>
		<tbody id="c_body">
		</tbody>
	</table>
</div>
</br></br>

<div class="container text-center center-block" id="right">
	<table class="table table-striped " id ="graph" >
		<thead>
			<tr>
				<th>Client ID</th>
				<th>GSize</th>
				<th>Count</th>
			</tr>
		</thead>
		<tbody id="g_body">
		</tbody>
	</table>
</div>